body{
    font-family: Arial, Helvetica, sans-serif;
    width: 900px;
    margin-left: calc((100% - 900px) / 2);
    margin-top: 50px;
    display: inline-block;
}
header{
    color: silver;
    margin: 0;
}
h1{
    margin-bottom: 0px;
    color: red;
    background-color: springgreen;
}
main{
    width: 900px;
    margin-left: calc((100% - 900px) / 2);
    margin-top: 50px;
    display: inline-block;
}
main > h1{
    display: inline-block;
    width: 48%;
    padding-top: 100px;
    color: red;
}
div {
    display: inline-block;
    margin-top: 0px;
    }
div > img{
    display: inline-block;
    width: 48%;
    float: right;
}


p{
    display: inline-block;
    width: 48%;
    margin-left: 0px;
}

img{
    display: inline-block;
    width: 34%;
    float: left;
}